@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #00a9ea;
}

body,
html {
  @apply h-screen w-screen overflow-hidden;
}

body {
  @apply bg-neutral-900 text-white;
}

@layer components {
  button:active {
    @apply transform scale-95;
  }

  button:focus {
    @apply outline-none;
  }

  button {
    @apply transition-transform duration-200 ease-in-out;
  }
}

@layer utilities {
  .text-clip {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .text-clip-stroke {
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px transparent;
  }

  .content {
    @apply max-w-[1352px] mx-auto small:px-8 md:px-4 lg:px-2;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .absolute-center {
    @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
  }

  .absolute-full {
    @apply w-full h-full absolute top-0 left-0;
  }

  .fixed-full {
    @apply w-full h-full fixed top-0 left-0;
  }

  .vertical {
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
  }

  .box-graph::after {
    content: "";
    @apply w-5 h-5 absolute bottom-2.5 left-full transform -translate-x-1/2 translate-y-full bg-primary/40;
  }

  .box-graph-30::after {
    @apply rotate-30;
  }

  .box-graph--30::after {
    @apply -rotate-30;
  }

  .text-glass {
    background-image: linear-gradient(
      135deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(61, 61, 61, 1) 20%,
      rgba(61, 61, 61, 1) 80%,
      rgba(255, 255, 255, 1) 100%
    );
  }

  .stroke-glass {
    border-width: 1px;
    border-style: solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(
      135deg,
      rgba(140, 140, 140, 1) 0%,
      rgba(42, 42, 42, 1) 20%,
      rgba(42, 42, 42, 1) 80%,
      rgba(140, 140, 140, 1) 100%
    );
  }

  .box-glass {
    border: 2px solid transparent;
    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(61, 61, 61, 1) 20%,
        rgba(61, 61, 61, 1) 80%,
        rgba(255, 255, 255, 1) 100%
      )
      fixed;
    background-size: 120% 120%;
    background-position: 50% 50%;

    -webkit-mask: linear-gradient(#fff 0 0) padding-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }

  .stroke-8-glass {
    border: 8px solid transparent;
    background: linear-gradient(
        135deg,
        rgba(120, 120, 120, 1) 0%,
        rgba(120, 120, 120, 0.2) 21%,
        rgba(120, 120, 120, 0.2) 83%,
        rgba(120, 120, 120, 1) 100%
      )
      fixed;
    background-size: 120% 120%;
    background-position: 50% 50%;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }

  .stroke-8-primary {
    border: 8px solid transparent;
    background: conic-gradient(
        from 180deg at 50% 50%,
        rgba(0, 169, 234, 1) 0%,
        rgba(0, 234, 108, 0.5) 12.5%,
        rgba(0, 234, 108, 0) 25%,
        rgba(0, 234, 108, 0) 100%
      )
      fixed;
    background-size: 120% 120%;
    background-position: 50% 50%;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }

  .stroke-8-primary::after {
    content: "";
    @apply absolute bottom-0 left-1/2 transform -translate-x-1/2 translate-y-full rounded-full w-2 h-2 bg-primary backdrop-blur-xl;
  }

  .glass-box {
    padding: 1px;
    background-image: linear-gradient(
      135deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(61, 61, 61, 1) 20%,
      rgba(61, 61, 61, 1) 80%,
      rgba(255, 255, 255, 1) 100%
    );
  }

  .text-stroke {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.5);
  }

  .text-balance {
    text-wrap: balance;
  }

  .unselectable {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

  .undraggable {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
  }

  .vertical {
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
}

.text-shadow-primary {
  filter: drop-shadow(0px 0px 31.9px rgba(0, 169, 234, 0.28));
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #131313;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(43, 43, 43);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(27, 27, 27);
}

/* Animations */

.first-frame {
  animation: firstFrameFadeOut 1s;
  opacity: 0;
}

@keyframes firstFrameFadeOut {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-out {
  animation: fadeOut 2s;
  opacity: 0;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
