@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

*,
html {
}

body {
  @apply bg-black text-white;
}

@layer components {
  button:active {
    @apply transform scale-95;
  }

  button:focus {
    @apply outline-none;
  }

  button {
    @apply transition-transform duration-200 ease-in-out;
  }
}

@layer utilities {
  .text-clip {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .text-clip-stroke {
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px transparent;
  }

  .content {
    @apply max-w-[1352px] mx-auto small:px-8;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .absolute-full {
    @apply w-full h-full absolute top-0 left-0;
  }

  .fixed-full {
    @apply w-full h-full fixed top-0 left-0;
  }

  .text-glass {
    background-image: linear-gradient(
      135deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(61, 61, 61, 1) 20%,
      rgba(61, 61, 61, 1) 80%,
      rgba(255, 255, 255, 1) 100%
    );
  }

  .text-balance {
    text-wrap: balance;
  }

  .unselectable {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

  .undraggable {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
  }

  .vertical {
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
}

.text-shadow-primary {
  filter: drop-shadow(0px 0px 31.9px rgba(0, 169, 234, 0.28));
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #131313;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(43, 43, 43);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(27, 27, 27);
}
